.widget {
    position: relative;
    width: 150px;
    height: 200px;
    border: 1px solid #fff;
    background-color: rgba(205, 240, 215, 0.27);
    border-radius: 24px;
}

.widget .day {
    position: absolute;
    transform: translate(0, -30px);
}

.widget .temp, .widget .percipitation, .widget .wind {
    font-size: 18px;
    font-weight: 700;
}
